<section class="lessone-one">
  <div class="content px-3 py-5 p-md-5">
    <div class="d-flex align-items-center mb-4">
      <h4 class="f-family-b ms-2">عنوان الدرس: </h4>
      <h5 class="f-family-l main-color">حرف الميم</h5>
    </div>
    <div class="text">
      <p class="f-family-l second-color mb-4">نص الدرس</p>
      <h5 class="f-family-l main-color">مظلة محمد</h5>
      <p class="f-family-l second-color mb-4">
        ذهب محمد إلى السوق ، و أشترى من المكتبة مسطرة و قلما ، و اشترى من المتجر موزا و مشمشا نزل المطر ، فحمل محمد المظلة
      </p>
    </div>
    <p class="f-family-b text-black fs-2">شرح حرف الميم بالفيديو: شرح مبسط مع أمثلة واقعية</p>
    <div class="video d-flex justify-content-center">
      <video src="assets/images/شرح حرف الميم للصف الأول الابتدائي من كتاب الوزارة.mp4" controls height="500" width="500"></video>
    </div>
  </div>
</section>
